
*.txt
Deposit Investing Game/bin/Debug/DepositInvestingGame/Enrichement/Enrichement.xml
Deposit Investing Game/bin/Debug/DepositInvestingGame/Enrichement/Enrichement.xml
Deposit Investing Game/bin/Debug/DepositInvestingGame/Enrichement/Enrichement.xml
Deposit Investing Game/bin/Debug/DepositInvestingGame/HighScore.xml
Deposit Investing Game/bin/Debug/DepositInvestingGame/Tips/Tips.xml
Deposit Investing Game/bin/Debug/DepositInvestingGame/Tips/Tips.xml
*.xml
*.xml
